{% include 'header.html' %}
        {% load comments %}
        {% if object_list %}
        {% for post in object_list %}
        <div class="post">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        {{ post.text }}
        {% get_comment_count for post as comment_count %}
        <h3>Comments: {{ comment_count }}</h3>
        </div>
        {% endfor %}
        <br />
        {% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}/">Next Page</a>
        {% endif %}
        {% else %}
        <div class="post">
        <p>No posts matched</p>
        </div>
        {% endif %}
{% include 'footer.html' %}
