{% include 'header.html' %}
        {% load comments %}
        {% for post in posts %}
        <div class="post">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <h3>{{ post.pub_date }}</h3>
        {{ post.text }}
        <h3>By {{ post.author.first_name }} {{ post.author.last_name }}</h3>
        <h3>Categories: {% for category in post.categories.all %} {{ category.title }} {% endfor %}</h3>
        {% get_comment_count for post as comment_count %}
        <h3>Comments: {{ comment_count }}</h3>
        <ol>
        {% get_comment_list for post as comments %}
        {% for comment in comments %}
        <li>{{ comment }}</li>
        </ol>
        {% endfor %}
        {% render_comment_form for post %}
        {% endfor %}
        </div>
        <br />
        {% if page.has_previous %}
        <a href="/{{ page.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="/{{ page.next_page_number }}/">Next Page</a>
        {% endif %}
{% include 'footer.html' %}
